{
  "extends": "stylelint-config-recommended-scss",
  "plugins": ["stylelint-scss"],
  "rules": {
    /* BEM */
    "selector-class-pattern": "^[a-z]+(?:-[a-z]+)*(?:__(?:[a-z]+(?:-[a-z]+)*))?(?:--(?:[a-z]+(?:-[a-z]+)*))?$",

    /* Bones pràctiques */
    "block-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "color-no-invalid-hex": true,

    /* Escalabilitat */
    "selector-max-id": 0,
    "max-nesting-depth": 3,

    /* SCSS */
    "scss/at-rule-no-unknown": true
  }
}
