/* Base HTML styles */

@use "variables";

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
  padding-top: variables.spacing(3);
  padding-bottom: variables.spacing(3);
  letter-spacing: -0.01em;
  color: variables.$text-color;
}

h1 {
  font-size: variables.rem(60);
}

h2 {
  font-size: variables.rem(36);
}

h3 {
  font-size: variables.rem(28);
}

h4 {
  font-size: variables.rem(22);
}

@media (min-width: 768px) {
  h1 {
    font-size: variables.rem(112);
  }

  h2 {
    font-size: variables.rem(48);
  }

  h3 {
    font-size: variables.rem(42);
  }

  h4 {
    font-size: variables.rem(22);
  }
}
