/* Variables and Functions */

@use "sass:color";
@use "sass:math";

/* Variables */

// Font families
$font-family-sans-serif: "Poppins", Arial, sans-serif;

// Colors

$text-color: #1d293d;
$accent-color: #62748e;
$footer-text-color: #cbd5e1;

$main-bg-color: #fff;
$alt-bg-color: #f8fafc;
$emphasis-bg-color: #fdfbf7;

$footer-bg-color: #0f172b;

// Breakpoints
$mqMinWidth: 420px;

/* Functions */

// Convert pixels to rems
@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

// Spacing function (multiples of 8px)
@function spacing($step) {
  @return rem($step * 8);
}
